$breakpoints: (
    mobile: 767px,
    tablette: 768px,
    tablette-max: 1023px,
    desktop: 1024px
);

$couleurs: (
    rose: #FF79DA,
    mauve: #9356DC,
    vert-clair:#99E2D0,
    gris-fonce: rgb(80, 80, 80),
    gris-clair: rgb(230, 230, 230)
);
