@import "../base/base";
@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/animations";


/*Loader*/
@keyframes disparition{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    animation: disparition both;
    animation-delay: 3.75s;

    &__container{
        display: flex;
        justify-content: space-between;
        width: 130px;
        height: 130px;
        &__item{
            width: 25px;
            animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite both;
            $colors:(mauve, rose, vert-clair);
            @for $i from 1 to 4 {
                &:nth-of-type(#{$i}){
                    animation-delay: ($i - 1) * 120ms;
                    background: map-get($map: $couleurs, $key:nth($colors,$i));
                }
            }
        }
    }
}
/*Header*/
.header{
    @include flex-column();
    align-items: center;
     
    &__logo{
        @include width-max();
        @include box-shadow;
        display: flex;
        justify-content: center;
        padding: 1.5rem 0 0.5rem;

        &-img{
            @include mobile{
                width: 10rem;    
            }
            @include tablette{
                width: 14rem;    
            }
            @include desktop{
                width: 18rem;
            }                  
        }
    }
    
    &__location{
        @include width-max();
        background-color: map-get($map:$couleurs, $key:gris-clair );
        color: map-get($map: $couleurs, $key:gris-fonce );
        text-align: center;
        padding: 1rem 0 1rem ;
        @include mobile{           
            font-size: 20px;
        }
        @include tablette{           
            font-size: 23px;
        }
        @include desktop{
            font-size: 26px;
        }
        &-logo{
            padding-right: 0.5rem
        }
    }
}

/*Partie recherche*/
.recherche{
    @include fond-gris();
    @include flex-column();
    @include width-max;
    align-items: center;
    text-align: center;
    padding: 2rem 0 2rem;
    row-gap: 0.5rem;
    &__titre{
        @include mobile{
            font-size: 26px;
            width: 20rem;   
        }
        @include tablette{
            font-size: 24px;   
        } 
        @include desktop{
            font-size: 28px;   
        }   
    }
    &__description{
        font-weight: lighter;
        @include mobile{
            font-size: 20px;
            width: 22rem;
        }
        @include tablette{
            font-size: 22px;
        }
        @include desktop{
            font-size: 24px;
        }
    }
    &__bouton{
        @include btn-gradient;
        @include mobile{
            font-size: 16px;
            width: 14rem;
        }
        @include tablette{
            width: 16rem; 
        }
        @include desktop{
            width: 18rem;
        }
    }
}
main{
    max-width: 1280px;
    margin: 0 auto 0;
}
/* Partie fonctionnement*/
.fonctionnement{
    @include flex-column();
    counter-reset: fonctionnement;
    padding: 0 2rem 0;
    row-gap: 2rem;
    @include tablette{   
        align-items: center;
    }
    @include desktop{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__titre{ 
        @include width-max();      
        padding: 3rem 0 1rem 0;
        margin-left: -1rem;  
        @include mobile{
            font-size: 32px;   
        }
        @include tablette{
            font-size: 34px;   
        }
        @include desktop{
            font-size: 36px;   
        }
    }
    &__bouton{
        @include bordure-ronde();
        @include fond-gris();
        @include box-shadow();
        display: flex;
        align-items: center;
        column-gap: 1rem;
        padding: 1.5rem 0 1.5rem;
        @include mobile{
            @include width-max();
        }
        @include tablette{
            width: 35rem;
        }
        @include desktop{
            width: 19rem;
        }        
        &__titre{
            @include mobile{
                font-size: 20px;
            }
            @include tablette{
                font-size: 23px;
            }
            @include desktop{
                font-size: 20px;
            }
        }
        &:hover{
            background-color: #9256dc1e;
        }
        &:hover > &__icone {
            color: map-get($map: $couleurs, $key:mauve );
        }
            
        &::before{
            counter-increment: fonctionnement;
            content: counter(fonctionnement);
            text-align: center;
            width: 2rem;
            padding: 0.4rem;
            background-color: map-get($map: $couleurs, $key:mauve );
            color: white;
            border-radius: 50%;
            margin-left: -1rem;
        }
        &__icone{
            color:rgb(80, 80, 80);
            @include mobile{
                font-size: 22px;
            }
            @include tablette{
                font-size: 24px;
            }
            @include desktop{
                font-size: 22px;
            }
            
        }
        
        
    }
}
/*Partie restaurant*/
.restaurant{
    
    @include flex-column;
    @include body-padding();
    @include fond-gris();
    margin-top: 3rem;
    padding-bottom: 5rem;
    @include mobile{
        row-gap: 1.5rem;
    }
    @include desktop{
        flex-direction: row;
        flex-wrap: wrap;
        background-color: white;
        justify-content: space-around;
        row-gap: 5vw;
    }
    @include tablette{
        row-gap: 4vw;
        padding: 0 5rem 5rem;
    }
    &__titre{
        @include width-max;
        padding: 2rem 0 0.5rem ;
        @include mobile{
            font-size: 32px;
        }
        @include tablette{
            margin-left: -3.5rem;
            font-size: 34px;
        }
        @include desktop{
            font-size: 36px;
        }       
    }
    &__carte{
        @include flex-column();      
        @include bordure-ronde();
        @include box-shadow();
        @include width-max();
        position: relative;
        background-color: white;
        overflow: hidden;  
        height: 20rem;

        @include desktop{
            width: 30rem;
        }                   
        &__image{
            @include width-max();
            overflow: hidden;
            object-fit: cover;
            height: 15rem;
            
        }
        &__nouveau{
            position: absolute;
            padding: 0.5rem;
            background-color: map-get($map: $couleurs, $key:vert-clair );
            color: #008766;
            font-weight: bold;
            border-radius: 5px;
            top: 1rem;
            right: 1rem;
        }
        &__description{
            @include width-max();
            padding: 0 0.5rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__container{
                @include mobile{
                    margin-top: 1rem;
                    font-size: 18px;
                }
                @include tablette{
                    margin-top: 0.75rem;
                    font-size: 20px;
                }
                @include desktop{
                    margin-top: 0.5rem;
                    font-size: 22px;
                }              
            }
            &__like{
                @include coeur-like;                
            }         
        }
    }
}
@import "../layouts/footer";