@import "../base/base";
@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/animations";

/*Header*/
.header{
    @include box-shadow;
    display: flex;
    position: relative;
    &__logo{
        display: flex;
        justify-content: center;
        padding: 1rem 0 0.5rem;
       
        &-img{
            @include mobile{
                width: 10rem;
            }
            @include tablette{
                width: 14rem;    
            }
            @include desktop{
                width: 18rem;
            }                    
        }
    }
    &__bouton{
        position: absolute;
        margin: 0.5rem 0 0 1rem;
        top: 0;
        left: 0;
        @include mobile{
            font-size: 30px;
        }
        @include tablette{
            font-size: 34px;
        }
        @include desktop{      
            font-size: 38px;
        }
        
    }

}
/*fond image menu*/
.background {
    @include fond-image;
}


.menu-titre{
    @include width-max();
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Shrikhand';
    column-gap: 2rem;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 6rem;
    margin-top: -3rem;
    &__like{
        @include coeur-like;
    }
}
.menu-titre h1{
    font-size: 26px;
    @include tablette{
        font-size: 32px;
    }
    @include desktop{
        font-size: 38px;
    }
}   


main{
    max-width: 1280px;
    margin: 0 auto 0;
    @include desktop{
        display: flex;
        justify-content: space-around;
    }
    
}
.carte{
    @include flex-column();
    row-gap: 2rem;
    margin: 2rem 1rem 0;
    @include desktop{
        margin: 2rem 0 0;
    }
    &__titre{
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;       
        color: map-get($map: $couleurs, $key:gris-fonce );
        /*Important, a réutiliser*/
        &::after{
            display: block;
            content: "";
            border-bottom: solid map-get($map: $couleurs, $key:vert-clair ) ;
            width: 2rem;
        }
        @include desktop{
            width: 21rem;
        }
    }
    &__menu{
        @include bordure-ronde();
        @include box-shadow();
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5rem;
        overflow: hidden;
        @for $i from 1 to 5 {     
            &:nth-of-type(#{$i}){
                /*Important: Mettre des espaces entres les opérations*/
                @include slideup(($i - 1) * 0.25s);
            }
        }
        
        &__container{
            @include flex-column();
            flex: 1;
            /*C'est chelou mais c'est normal (bug flex)*/
            width: 0;
            padding: 0 0.5rem 0;
            &__titre{
                @include text-ellipsis;
                font-size: 15px;
                @include desktop{
                    font-size: 13px;
                }
            }
            &__accompagnement{
                @include text-ellipsis;
                font-size: 14px;
                @include desktop{
                    font-size: 12px;
                }
            }
            
        }
        &__prix{
            padding:  1rem 1rem 0 ; 
            font-size: 14px;
            font-weight: bold;
            @include desktop{
                font-size: 12px;
            }
        }
        &__block{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 26px;
            height: 100%;
            background-color: map-get($map: $couleurs, $key:vert-clair );
            color: white;
            width: 5rem;
            margin-right: -5rem;
            transition: margin 0.75s;
        }
        $this:&;
        &:hover{
            #{$this}__block{
                margin: 0;
                &__icone{
                    transform: rotate(360deg);
                    transition: transform 0.75s ;
                }
                
            }
        }
    }
}

.commande{
    display: flex;
    justify-content: center;
    &__bouton {
        @include btn-gradient;
        margin: 5rem 0 5rem;
        text-align: center;
        @include mobile{
            width: 10rem;
        }
        @include tablette{
            width: 12rem; 
        }
        @include desktop{
            width: 14rem;
        }
    }
}
@import "../layouts/footer";
