
/*Footer*/
.footer{
    background-color: rgb(50, 50, 50);
    @include flex-column();
    row-gap: 0.5rem;
    padding: 1.5rem;
    &__titre{
        color: white;
        padding-bottom: 1rem;
        @include mobile{
            font-size: 26px;
        }
        @include tablette{
            font-size: 28px;
        }
        @include desktop{
            font-size: 30px;
        }
        
    }
    &__lien{
        color: white;
        display: flex;
        column-gap: 1.5rem;
        @include mobile{
            font-size: 18px;
        }
        @include tablette{
            font-size: 20px;
        }
        @include desktop{
            font-size: 22px;
        }
        &__icone{
            width: 0.5rem;
        }
    }
}
