
/*Footer*/
footer{
    background-color: rgb(50, 50, 50);
}
.footer{ 
    @include flex-column();
    row-gap: 0.5rem;
    padding: 1.5rem;
    max-width: 1280px;
    margin: 0 auto 0;
    &__titre{
        padding-bottom: 1rem;
        color: white;
        font-family: 'Shrikhand';
        @include mobile{
            font-size: 32px;
        }
        @include tablette{
            font-size: 34px;
        }
        @include desktop{
            font-size: 36px;
        }
        
    }
    &__lien{
        color: white;
        display: flex;
        column-gap: 1.5rem;
        @include mobile{
            font-size: 18px;
        }
        @include tablette{
            font-size: 20px;
        }
        @include desktop{
            font-size: 22px;
        }
        &__icone{
            width: 0.5rem;
        }
    }
}
